name: CI

on:
  push:

jobs:
  CI:
    name: Monorepo CI flow
    runs-on: ubuntu-latest
    services:
      questdb:
        image: questdb/questdb:nightly
        ports:
          - 9000:9000
        env:
          QDB_TELEMETRY_ENABLED: false

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Install yarn v4
        run: npm install --global yarn
        
      - name: Set yarn to latest
        run: yarn set version latest             

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache

      - name: Build @questdb/react-components
        run: yarn workspace @questdb/react-components run build

      - name: Build @questdb/web-console
        run: yarn workspace @questdb/web-console run build

      - name: Run @questdb/web-console unit tests
        run: yarn workspace @questdb/web-console run test:prod

      - name: Run browser-tests test
        run: node packages/web-console/serve-dist.js & yarn workspace browser-tests test

      - name: Publish @questdb/web-console to npm
        if: github.ref == 'refs/heads/main'
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          check-version: true
          package: ./packages/web-console/package.json

      - name: Publish @questdb/react-components to npm
        if: github.ref == 'refs/heads/main'
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          check-version: true
          package: ./packages/react-components/package.json
