name: CI

on:
  push:

jobs:
  CI:
    name: Monorepo CI flow
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build QuestDB
        run: mvn clean package -f packages/browser-tests/questdb/pom.xml -DskipTests -P build-binaries

      - name: Extract QuestDB
        run: tar -xzf packages/browser-tests/questdb/core/target/questdb-*-rt-linux-amd64.tar.gz -C tmp/

      - name: Create DB Root
        run: mkdir tmp/dbroot

      - name: Start QuestDB
        run: ./tmp/questdb-*-rt-linux-amd64/bin/questdb.sh start -d ./tmp/dbroot

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache

      - name: Build @questdb/react-components
        run: yarn workspace @questdb/react-components run build

      - name: Build @questdb/web-console
        run: yarn workspace @questdb/web-console run build

      - name: Run bundle watcher on @questdb/web-console
        run: yarn workspace @questdb/web-console bundlewatch

      - name: Run @questdb/web-console unit tests
        run: yarn workspace @questdb/web-console run test:prod

      - name: Run browser-tests test
        run: node packages/web-console/serve-dist.js & yarn workspace browser-tests test

      - name: Stop QuestDB
        run: ./tmp/questdb-*-rt-linux-amd64.tar.gz/bin/questdb.sh stop

      - name: Publish @questdb/web-console to npm
        if: github.ref == 'refs/heads/main'
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          check-version: true
          package: ./packages/web-console/package.json

      - name: Publish @questdb/react-components to npm
        if: github.ref == 'refs/heads/main'
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          check-version: true
          package: ./packages/react-components/package.json
