name: Publish Packages to NPM

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish Packages to NPM
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache

      - name: Build @questdb/web-console
        run: yarn workspace @questdb/web-console run build

      - name: Publish @questdb/web-console to npm
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public
          check-version: true
          package: ./packages/web-console/package.json
