name: Run Tests With Context Path

on:
  push:

jobs:
  run_tests_with_context_path:
    name: Running Tests With Context Path
    runs-on: ubuntu-latest

    env:
      QDB_HTTP_CONTEXT_WEB_CONSOLE: "/context"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build QuestDB
        run: mvn clean package -f packages/browser-tests/questdb/pom.xml -DskipTests -P build-binaries

      - name: Extract QuestDB
        run: tar -xzf packages/browser-tests/questdb/core/target/questdb-*-rt-linux-x86-64.tar.gz -C tmp/

      - name: Create DB Root
        run: mkdir tmp/dbroot

      - name: Start QuestDB
        run: ./tmp/questdb-*-rt-linux-x86-64/bin/questdb.sh start -d ./tmp/dbroot
        env:
          QDB_DEV_MODE_ENABLED: "true"
          QDB_TELEMETRY_ENABLED: "false"

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Run bundle watcher
        run: yarn bundlewatch

      - name: Run unit tests
        run: yarn test:prod

      - name: Run e2e tests - auth
        run: node serve-dist.js & yarn test:e2e:auth

      - name: Stop QuestDB
        run: ./tmp/questdb-*-rt-linux-x86-64/bin/questdb.sh stop

      - name: Start QuestDB, set auth credentials
        run: ./tmp/questdb-*-rt-linux-x86-64/bin/questdb.sh start -d ./tmp/dbroot
        env:
          QDB_DEV_MODE_ENABLED: "true"
          QDB_HTTP_USER: "admin"
          QDB_HTTP_PASSWORD: "quest"
          QDB_TELEMETRY_ENABLED: "false"

      - name: Run e2e tests
        run: yarn test:e2e

      - name: Print Log Files
        if: success() || failure()
        run: cat tmp/dbroot/log/*

      - name: Save QuestDB log on test failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: questdb-log
          path: tmp/dbroot/log/*

      - name: Upload Cypress Screenshots
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: e2e/screenshots
          if-no-files-found: ignore

      - name: Stop QuestDB
        if: success() || failure()
        run: ./tmp/questdb-*-rt-linux-x86-64/bin/questdb.sh stop
